VITE_GOOGLE_MAPS_KEY=AIzaSyA9Yypc_Y7RcQYFwo6gHNC5fmyyrE66-rU
VITE_SUPABASE_URL=https://zjedxlvdeedpkbxzqkpo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpqZWR4bHZkZWVkcGtieHpxa3BvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NzYzNDIsImV4cCI6MjEwNDQ1MjM0Mn0.qAs07pzMWGuQsqY1SFV2VGvs_UT0h0m6-1ftj14Lcp4
